@media print {
    h2, h3, h4, html {
        color: black;
        background-color: white;
    }
}

html {
    background-color: #2c2c2c;
    color: #dcdccc;
    margin: auto;
    max-width: 33em;
}

a {
    color: orange;
}

h2 {
    color: #5196d7;
}

h3 {
    color: #2d9574;
}

h4 {
    color: #67b11c;
}
